.post-list{
  list-style: none;
  padding:10px;
  width:100%;
  margin-left:-10px;
}
.post-list li{
    width:100%;
    position: relative;
    padding: 10px 0;
    font-size: 14px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
}
.post-list li .avatar img{
   width:30px;
   height: 30px;
   border-radius: 3px;
   vertical-align: middle;
   float: left;
   padding:0 10px;
}
.post-list li .title{
    vertical-align: middle;
    line-height: 30px;
}
.write-panel{
    padding: 50px 10px;
    border-radius: 0 0 3px 3px;
    background:#fff;
}
.write-panel .tag-select{
    height: 34px;
    width: 248px;
    border:1px solid #ccc;
    padding-left: 10px;
}